package page

import (
	"todo-app/.gen/postgres/public/model"
    "todo-app/internal/dto"
    "todo-app/internal/view/component"
    "todo-app/internal/view/layout"
)


templ Index(todos dto.PageResult[model.Todo]){
    @layout.Layout() {
        @component.TodoContainer(todos)
    }
}
